<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garçom Online - Coff_Esporte</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/imgs/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="static/imgs/coff.png" alt="Logo da Coff_Esporte">
                </a>
            </div>
            <button class="navbar-toggle" onclick="toggleNavbar()">☰</button>
            <ul id="nav-links" class="nav-images hidden">
                <li>
                    <a href="/" aria-label="Home">
                        <img src="static/imgs/home.png" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="/cafes" aria-label="Cafés">
                        <img src="static/imgs/cafe.png" alt="Cafés">
                    </a>
                </li>
                <li>
                    <a href="/EA" aria-label="Esporte">
                        <img src="static/imgs/volei.png" alt="Esporte">
                    </a>
                </li>
                <li>
                    <a href="/cont" aria-label="Contato">
                        <img src="static/imgs/contato.png" alt="Contato">
                    </a>
                </li>
                <li>
                    <a href="/Pag">
                        <img src="static/imgs/carrinho.png" alt="Pagamento" id="larger-img">
                    </a>
                    <span class="tooltip">Pagamento</span>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="garcom-container">
            <img id="garcom" src="static/imgs/garcom.png" alt="Garçom">
            <div id="chat-box">
                <div id="chat-content"></div>
                <input type="text" id="user-input" placeholder="Digite sua pergunta..." style="display:none;" />
                <button id="send-button" onclick="sendMessage()" style="display:none;">Enviar</button>
                <button id="start-button" onclick="showChat()">Iniciar Conversa</button>
            </div>
            
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Coff_Esporte. Todos os direitos reservados.</p>
    </footer>

    <script src="falas.js"></script>
</body>
</html>
