<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Coff_Esporte</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="static/imgs/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="/"><img src="static/imgs/coff.png" alt="Coff_Esporte Logo"></a></div>
            <ul class="nav-images">
                <li>
                    <a href="/">
                        <img src="static/imgs/home.png" alt="Home">
                        <span class="tooltip">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/cafes">
                        <img src="static/imgs/cafe.png" alt="Cafés">
                        <span class="tooltip">Café</span>
                    </a>
                </li>
                <li>
                    <a href="/EA">
                        <img src="static/imgs/volei.png" alt="Esporte">
                        <span class="tooltip">Esporte</span>
                    </a>
                </li>
                <li>
                    <a href="/cont">
                        <img src="static/imgs/contato.png" alt="Contato">
                        <span class="tooltip">Contato</span>
                    </a>
                </li>
                <li>
                    <a href="/Pag">
                        <img src="static/imgs/carrinho.png" alt="Pagamento" id="larger-img">
                    </a>
                    <span class="tooltip">Pagamento</span>
                </li>
            </ul>
        </nav>
    </header>
    
    <section class="login-section">
        <h1>Crie sua conta</h1>
        <form class="login-form">
            <input type="text" placeholder="Usuário" required>
            <input type="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Coff_Esporte. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
